body {
  padding: 5%;
}

.section1 {
  background-color: #dee1ec;
  padding: 5%;
}
h1 {
  width: 700px;
  text-align: center;
}

table {
  background-color: white;
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
  background-color: #dee1ec;
  overflow: hidden;
}

thead {
  background-color: #0e7cf4;
  color: white;
  margin: 2%;
}

tbody {
  background-color: white;
}

caption {
  caption-side: bottom;
  font-style: italic;
}

th, td {
  padding: 20px 40px 20px 40px;
  border: 1px solid lightgray;
}

#course {
  border-top-left-radius: 15px;
}

#day {
  border-top-right-radius: 15px;
}

#biology {
  border-bottom-left-radius: 15px;
}

#friday {
  border-bottom-right-radius: 15px;
}

#english, #geography, #biology {
  color: #0e7cf4;
}